<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <hr />
    {{#if posts.length}}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Post Id</th>
              <th scope="col">Title</th>
              <th scope="col">Post Date</th>
              <th scope="col">Category</th>
              <th scope="col">Published</th>
            </tr>
          </thead>
          <tbody>
            {{#each posts}}
              <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.postDate}}</td>
                <td><a
                    href="/posts?category={{this.category}}"
                  >{{this.category}}</a></td>
                <td>{{this.published}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    {{/if}}
  </div>
</div>